.page_wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.login_form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%; /* Adjust width to make room for the image */
  height: 100%;
  padding: 20px;
}

.login_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; /* Adjust width for image placement */
  height: 100%;
  border-radius: 0.5rem;
  object-fit: contain;
  margin: 0; /* Ensure no unwanted spacing */
}

.logo_wrapper {
  width: 100%;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
  .login_form_wrapper {
    width: 100%;
    padding: 20px;
  }
  .login_image {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .login_form_wrapper {
    width: 100%;
    padding: 20px;
  }
  .login_image {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .login_image {
    display: flex;
  }
}
